modules = ["python-3.12", "cpp-clang14", "c-clang14"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 44979973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn main:app --host 0.0.0.0 --port 3000 --reload"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Jobs Dunia API"

[[workflows.workflow]]
name = "Jobs Dunia API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn main:app --host 0.0.0.0 --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[userenv]

[userenv.shared]
TIDB_DATABASE_URL = "mysql://35V1p44dnfZWLPW.root:9So0jsaVVAHJ5Il5@gateway01-privatelink.ap-southeast-1.prod.aws.tidbcloud.com:4000/test"
